<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>332093439919-4te2bpa1gjsamn7kd809tpu5dul89hj9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332093439919-4te2bpa1gjsamn7kd809tpu5dul89hj9</string>
	<key>API_KEY</key>
	<string>AIzaSyBcKViRxICJQj_w4xbrtPhbJD24YOLHJzo</string>
	<key>GCM_SENDER_ID</key>
	<string>332093439919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.football</string>
	<key>PROJECT_ID</key>
	<string>football-ba0cf</string>
	<key>STORAGE_BUCKET</key>
	<string>football-ba0cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332093439919:ios:b5bff0892f442b73fbb95a</string>
</dict>
</plist>